.total {
	/* background: red; */
	padding: 8em 4em 4em 4em;
	width: calc(100% - 8em);
}

.total .form, .total .table {
	background: white;
	padding: 1em;
	border-radius: 1em;
}

.overlay {
	height: 4em;
	width: 100%;
	position: fixed;
	/* background: red; */
	top: 0;
}

.loader {
	height: calc(100% - 4em);
	width: 100%;
	background: white;
	background-image: url("https://media.giphy.com/media/3oEjI6SIIHBdRxXI40/giphy.gif");
	background-repeat: no-repeat;
  background-position: center; 
	position: fixed;
	top: 0;
	margin-top: 4em;
}

.title {
	/* background: blue; */
	margin-bottom: .5em;
	padding-bottom: .25em;
	display: block;
	width: 100%;
	border-bottom: 1px solid;
	/* vertical-align: top; */
}

.title p {
	font-size: 2em;
	font-weight: bold;
	display: inline-block;
}

.title button {
	width: 10em;
	height: 2em;
	margin-left: 1em;
	margin-top: 1em;
	vertical-align: top;
	border: none;
}

.row {
	display: block;
	width: 100%;
	/* background-color: green; */
}

.row .col {
	vertical-align: top;
	width: calc(100% / 3 - 2em - .5em);
	display: inline-block;
	margin: 1em;
	padding: .25em;
}

.row .col.full {
	width: calc(100% - 2em - .5em);
	text-align: right;
}

.row .col.full span {
	text-align: left;
}

.row .col span {
	display: block;
	font-size: 1em;
	margin-bottom: .5em;
}

.row .col input {
	width: calc(100% - 2px - 3em);
	height: 2em;
}
.row .col textarea {
	width: calc(100% - 2px);
	/* height: 10em; */
}

.row .col select {
	width: calc(100% - 2px - 3em);
	height: 2em;
}

.row .col button {
	width: 2em;
	height: 2em;
	border: none;
	font-weight: bolder;
	border-radius: 100%;
	margin-left: 1em;
}

.row .col.full button {
	width: 10em;
	height: 2em;
	border: none;
	border-radius: unset;
	font-weight: normal;
	margin: 0;
}

.row .col span button {
	width: 2em;
	height: 2em;
	border: none;
	font-weight: bolder;
	border-radius: 100%;
	margin: 0;
}

.row .col input:last-child {
	width: calc(100% - 2px);
}

.row .col select:last-child {
	width: calc(100% - 2px);
}

.row .col input.number {
	width: calc(25% - 2px);
}

.row .col input[type=number] {
	width: unset;
}

.row .col div div.media {
	width: 80%;
	display: inline-block;
}

.row .col div {
	margin-bottom: 1em;
}

.row .col div:last-child {
	margin-bottom: 0;
}

/* .row .col div.media span {
	display: inline-block;
	width: 10%;
} */

.row .col div.media input {
	width: calc(100% - 2px);
}
.row .col div.media select {
	width: calc(100% - 0px);
}

.row .col div.media {
	margin-bottom: 0;
}

.row .col button.media {
	vertical-align: top;
}

table {
	width: calc(100% - 2em - 8px - 2px);
	margin: calc(1em + 4px);
	padding: 0;
	border-collapse:collapse;
	border: 1px solid;
	table-layout: fixed;
}

table thead {
	background: #8d8d8d;
	color: white;
}

table thead th {
	padding: .5em 0;
}

table tbody td {
	text-align: center;
	padding: .5em 0;	
}

table tbody td button{
	width: 5em;
	height: 2em;
	margin-right: 1em;
	border: none;
}

.createButton {
	background: #cdffa2;
}

.viewButton {
	background: #adf;
}

.editButton {
	background: #fda;
}

.deleteButton {
	background: #fbb;
}

table tbody td button:last-child {
	margin: 0;
}

table tbody tr:nth-child(even) {
	background: #f0f0f0;
}

ul {
	list-style-position: inside;
}

li p {
	cursor: pointer;
	display: inline;
	text-decoration: underline;
	color: blue;
}

p.link {
	cursor: pointer;
	display: inline;
	text-decoration: underline;
	color: blue;
}